body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #3d3d3d;
    line-height: 1.5;
}

.site-header {
    background-color: #1f1f1f;
    width: 100%;
    height: 46px;
    top: 0;
    position: fixed;
    z-index: 4;
}

.site-title {
    color: #fff;
    line-height: 46px;
    font-size: 18px;
    padding: 0 15px;
    font-weight: 300;
}

.site-main::before,
.site-main::after {
    content: "";
    display: table;
}

.site-main {
    margin-top: 46px;
}

/* primary content */

.content-area {
    float: left;
    width: 100%;
}

.site-content {
    margin-left: 195px;
    padding: 25px;
    background: #ffffff;
}

/* sidebar */

.site-sidebar {
    width: 195px;
    float: left;
    margin: 0 0 0 -100%;
    position: relative;
    z-index: 2;
}

.site-navigation li a {
    color: #d9d9d9;
    border-top: 1px solid #484848;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.site-navigation li.current a,
.site-navigation li.current a:hover {
    background: #d64635;
    color: #ffffff;
    border-top-color: transparent;
}

.site-navigation li.current + li a {
    border-top-color: transparent;
}

.site-navigation li a:hover {
    background: #303030;
    color: #d9d9d9;
}

.site-navigation li.heading {
    padding: 15px;
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

/* footer */

.site-footer {
    position: relative;
    z-index: 3;
    padding: 0 20px;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    clear: left;
    color: #a3a3a3;
}