.site-content h1,
.site-content h2 {
    font-size: 28px;
    letter-spacing: -.25px;
    color: #444;
    margin: 0 0 15px 0;
    font-weight: 300;
}

.site-content h3 {
    font-size: 20px;
    color: #555;
    margin: 15px 0;
}

.site-content h4 {
    font-size: 16px;
    color: #555;
    margin: 15px 0;
}

.button {
    padding: 7px 14px;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857173;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: none;
    transition: background-color ease .25s;
    border-radius: 3px;
}

.submit-button {
    color: #ffffff;
    background-color: #35aa47;
    margin: 15px 0 10px;
    padding-left: 12px;
    margin-right: 5px;
}

.submit-button:hover,
.submit-button:active {
    background-color: #2b8b3a;
}

.reset-button {
    color: #ffffff;
    background-color: #d84a38;
    margin: 15px 0 10px;
}

.reset-button:hover,
.reset-button:active {
    background-color: #c13726;
}

input[type='text'].form-control,
input[type='password'].form-control,
textarea.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    height: 34px;
    padding: 2px 12px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    transition: border-color ease-in-out .15s;
    width: 100%;
    box-sizing: border-box;
}

textarea.form-control {
    height: auto;
    padding: 8px 12px;
}

input[type='text'].form-control.error,
input[type='password'].form-control.error,
textarea.form-control.error {
    border-color: #ebccd1;
}

input[type='text'].form-control:focus,
input[type='password'].form-control:focus,
textarea.form-control:focus {
    border-color: #999999;
    outline: none;
}

input[type='text'].form-control.error:focus,
input[type='password'].form-control.error:focus,
textarea.form-control.error:focus {
    border-color: #dca7b0;
}

label.error {
    font-size: 13px;
    color: #a94442;
}

.form-group {
    margin: 10px 0;
}

.form-group .prompt {
    width: 30%;
    display: inline-block;
}

.form-group .prompt label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.form-group .note {
    font-size: 14px;
    color: #999999;
}

.form-group .control {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 14px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#toast-container div.toast {
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    padding: 13px 15px 15px 50px;
}

.toast-close-button {
    top: -0.7em;
    font-weight: 300;
    font-size: 24px;
}

#toast-container .toast-title {
    margin: 0 0 5px;
    font-size: 15px;
}

#toast-container .toast-message {
    font-size: 14px;
}